<section class="sliderthree_area fix">
   <div class="column">
      <div class="all_curosol">
         <div id="owl_imran" class="owl-carousel owl-theme">
            <div class="item">
               <div class="singcourosol">
                  <div class="bottcur fix">
                     <h3>Slashing Prices on Things You Love</h3>
                  </div>
                  <div class="areabrack fix">
                     <p>$99<span>9.99</span></p>
                  </div>
                  <div class="logok fix">
                     <a href=""><img src="/assets/logobig.png" alt="" /></a>
                  </div>
               </div>
            </div>
            <div class="item">
               <div class="singcourosol">
                  <div class="bottcur fix">
                     <h3>Slashing Prices on Things You Love</h3>
                  </div>
                  <div class="areabrack fix">
                     <p>$99<span>9.99</span></p>
                  </div>
                  <div class="logok fix">
                     <a href=""><img src="/assets/logobig.png" alt="" /></a>
                  </div>
               </div>
            </div>
            <div class="item">
               <div class="singcourosol">
                  <div class="bottcur fix">
                     <h3>Slashing Prices on Things You Love</h3>
                  </div>
                  <div class="areabrack fix">
                     <p>$99<span>9.99</span></p>
                  </div>
                  <div class="logok fix">
                     <a href=""><img src="/assets/logobig.png" alt="" /></a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="footer_area fix">
   <div class="column">
      <img src="/assets/kye.png" alt="" />
      <h2>Be the first in the Club</h2>
      <%= form_for @user, :url => { :action => "create" } do |f| %>
         <%= f.text_field :email, :placeholder => "Enter Email"%>
         <input type="submit"  value="STEP INSIDE"/>
      <% end %>
   </div>
</section>
<script src="/assets/owl.carousel.min.js"></script>
<script src="/assets/main.js"></script>